/* The side navigation menu */
#navlinks a:after {
  content: "";
  position: absolute;
  width: 7%;
  transform: scaleX(0);
  height: 40px;
  left: 0;
  background-color: #1c1f20;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

#navlinks a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #242d30;
  /* background-color: transparent; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a,
.uppernav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: floralwhite;
  display: block;
  transition: 0.3s;
}
.sidenav muted {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #2d2d2d;
  display: block;
  transition: 0.3s;
}

.sidenav p {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #d8c4ad;
  display: inline-block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #7af94f;
}

/* Upper Nav */
.uppernav a:hover {
  color: #7af94f;
}

#uppernav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#uppernav a::before {
  content: "";
  position: absolute;
  width: 30px;
  transform: scaleX(0);
  height: 2px;
  top: 40px;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
