body {
  background-color: #1c1f20;
  color: #7af94f;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.colored {
  color: #7af94f !important;
}
/* 
.form-group {
  padding: 10px;
} */

.app-badge {
  fill: aliceblue;
}

.app-badge:hover {
  fill: #7af94f;
}
